body, html {
    background: linear-gradient(#b6d8f2, #f3fbff);
}

.text {
    font-family: "Consolas";
    font-size: 20px;
    text-align: center;
    position: absolute;
    height: 20%;
    left: 35%;
    color: #ffffff;
    text-shadow: 2px 1px #1b9ce5;
}

#img-data {
    position: absolute;
    width: 7%;
    right: 2%;
    top: 26%
}

#img-lg {
    position: absolute;
    width: 7%;
    right: 2%;
    top: 43%;
}
img {
    width: 100%;
}

#experience{
    position: absolute;
    top: 20%;
    /*left: 5%;*/
}

table {
    font-family: "Consolas", serif;
    margin-right: 10%;
    text-align: center;
    margin-left: 16%;
    /*border-radius: 10px;*/
    /*margin-top: 20px;*/
}

th {
    font-size: 25px;
    text-shadow: 1px 1px #1b9ce5;
    text-align: center;
    color: black;
    padding: 10px;
    background-color: rgba(255,255,255,1);
}

td {
    font-size: 20px;
    text-shadow: 1px 1px #b5b5b3;
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: rgba(22, 135, 199, 0.5);
    color: white;
}

tr:nth-child(even):hover{
    background-color: rgba(22, 135, 199, 1);
}

tr:nth-child(odd) {
    background-color: rgba(168, 207, 237, 0.5);
}

tr:nth-child(odd):hover {
    background-color: rgba(168, 207, 237, 1);
}

.sidenav {
    /*display: none;*/
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f6f9ff;
    overflow-x: hidden;
    padding-top: 60px;
}

span {
    color: #000000;
}

.sidenav a {
    padding: 30px 28px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #1b9ce5;
    text-shadow: 2px 1px #d2d2d0;
    display: block;
}

.sidenav a:hover {
    color: #2668FF;
}

.sidenav .closebtn {
    position: absolute;
    color: black;
    top: 0;
    font-size: 40px;
}