body, html {
    background: linear-gradient(#b6d8f2, #f3fbff);
}

.text {
    font-family: "Consolas";
    font-size: 20px;
    text-align: center;
    position: absolute;
    height: 20%;
    left: 35%;
    color: #ffffff;
    text-shadow: 2px 1px #1b9ce5;
}

.sidenav {
    display: none;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f6f9ff;
    overflow-x: hidden;
    padding-top: 60px;
}

span {
    color: #000000;
}

.sidenav a {
    padding: 30px 28px 8px 32px;
    text-decoration: none;
    font-size: 30px;
    color: #1b9ce5;
    text-shadow: 2px 1px #d2d2d0;
    display: block;
}

.sidenav a:hover {
    color: #2668FF;
}

.sidenav .closebtn {
    position: absolute;
    color: black;
    top: 0;
    font-size: 40px;
}